.cheat-card.card-title{
  opacity: 0.4;
  font-size: 5vw;
}

  @media screen and (min-width: 1000px) {
    .cheat-card{
      font-size: 5vw;
    }
  }
  @media screen and (max-width: 1000px) and (min-width: 800px) {
    .cheat-card{
      font-size: 4vw;
    }
  }
  @media screen and (max-width: 800px){
    .cheat-card{
      font-size: 3vw;
    }
  }



.card {
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px black;
}

.form-holder {
      display: flex;
      justify-content: center;
}


.btn-check+.btn{
  filter: contrast(100%);
  color: #fff;
}


.btn-check:checked+.btn{
  opacity: 100%;
}

.btn.react{
  background-color:  #125D98;
  opacity: 50%;
}

.btn.git{
  background-color: #52006A;
  opacity: 50%;
}
.btn.javascript{
  background-color: rgb(255, 169, 0);
  opacity: 50%;
}
.btn.html{
  background-color: rgb(255, 118, 0);
  opacity: 50%;
}
.btn.styling{
  background-color: #F21170;
  opacity: 50%;
}
.btn.sql{
  background-color: #CD113B;
  opacity: 50%;
}
.btn.other{
  background-color: #7952B3;
  opacity: 50%;
}




.btn.view {
  border: 2px solid rgba(33, 37, 41, 0.2);
  opacity: 100%;
  margin: 0;
}

.btn.view:hover {
  color: #fff;
  border-color: #212520;
  box-shadow: 0 0 0 0.2rem rgba(33, 37, 41, 0.3);
}

.btn.view:focus, .btn.view.focus{
  box-shadow: 0 0 0 0.3rem rgba(33, 37, 41, 0.5);
  filter:hue-rotate(100deg);
}


.hidden{
  display: none;
}

.search-buttons{
  border: 2px solid grey;
  padding: 10px, 10px, 10px, 10px;
  width: 90vw;
  padding: 30px 10px;
  margin: 10px;
}

.photo {
  height: 50px;
  width: 50px;
}

.delete {
  max-height: 40px;

}

.delTxt {
  font-size: 9px;
}